@charset "UTF-8";
html{
	background: url('image/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
}
.contentBox{
	position: absolute;
	top: 50%; left: 50%;
	height: 45%;
	width: 45%;
	margin-left: -23%;
	margin-top: -20%;
	background-color: rgba(255, 255, 255, 0.4);
}
.textBox{
	position: absolute;
	top: 5%; left: 5%;
}
.subscribeBox{
	position: absolute;
	bottom: 5%;
	left: 5%;
}
.siteInfo{
	position: absolute;
	bottom: 0.5%;
}